:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --light-color: #B9C0DA;
    --lighter-color: #dce1f3;
    --dark-color: #403F4C;
}

body {
    background-color: var(--dark-color);
    color: var(--light-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
nav {
    display: flex;
    justify-content: space-between;
    color: var(--light-color);
    margin-bottom: 20px;
}
.navElement {
    padding: 10px 30px;
    display: flex;
    align-items: center;
}
.navElement > button {
    padding: 0 10px;
    color: var(--light-color);
    background-color: var(--dark-color);
    border: 0;
    font-size: 1.5em;
    font-weight: 600;
}
.navElement > button:hover {
    cursor: pointer;
    color: var(--lighter-color);
}

.content {
    justify-content: center;
    display: flex;
}
.content > * {
    margin: 10px;
}
.profilePicture {
    width: 400px;
    height: 300px;
    object-position: center top;
    border-radius: 10%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.projectsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1400px;
}
.project {
    /*colouring*/
    /*background-color: var(--light-color);*/
    color: var(--light-color);

    /*Dimensions*/
    border: 0;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    min-width: 640px; /*projectsContainer max-width/2 - 4*margin*/
    flex-basis: 45%;

    /*Flex*/
    display: flex;
    flex-direction: column;

    /*Inside*/
    background-size: cover;


    transition: 0.5s;
}
.project > h2 {
    transition: 0.5s;
    font-size: 1.6em;
    margin-bottom: 0;
    /*
    text-shadow: 
    -2px -2px 0 var(--light-color), 
    2px -2px 0 var(--light-color), 
    -2px 2px 0 var(--light-color), 
    2px 2px 0 var(--light-color);*/
}
.project > p {
    margin-top: 5px;
}
.project > img {
    width: 100%;
    aspect-ratio: 9/5; /*7/4 pretty good too*/
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.project:hover {
    cursor: pointer;
    /*background-color: var(--dark-color);
    color: var(--light-color);*/
    scale: 1.02;
    border: 2px solid var(--light-color);
    /*filter: blur(2px); find way to only blue image*/
    
}
.project:hover > h2 {
    color: var(--light-color);
    text-shadow: 
    -1px -1px 0 var(--dark-color),
    1px -1px 0 var(--dark-color),
    -1px 1px 0 var(--dark-color),
    1px 1px 0 var(--dark-color);
}